@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Mabry Pro Regular';
    font-style: normal;
    font-weight: 500;

    /* Use cmunrm.ttf */
    src: local('Mabry Pro Regular'),
        /* Check if the font is installed locally */
        url('/MabryPro-Regular.ttf') format('truetype');
    /* Use the font file from the server */
}

@layer base {
    html {
        font-family: Mabry Pro Regular, system-ui, sans-serif;
    }
}